.aboutUs .topImage {
  width: auto;
}
.aboutUs .mainContainer {
  position: relative;
}
.aboutUs .topContainer {
  background-color: white;
  width: 400px;
  height: 150px;
  position: absolute;
  left: 60px;
  bottom: -200px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding: 20px;
}
.aboutUs .aboutCompany {
  color: #ed1b2e;
  font-size: 18px;
  font-weight: bold;
  margin-top: 1px;
}
.aboutUs .ourCompany {
  font-size: 45px;
  font-weight: bold;
  margin-top: 1px;
}
.aboutUs .inAsia {
  font-size: 20px;
  margin-top: 1px;
}
.aboutUs .detailContainer {
  margin: 40px;
  font-size: 25px;
}

@media only screen and (max-width: 600px) {
  .aboutUs .topImage {
    width: 60vh;
  }
  .aboutUs .topContainer {
    position: relative;
    left: 0px;
    bottom: 0px;
  }
}
